.page-title-bar {
  grid-area: page-title-bar;
  border-bottom: 1px solid #ccc;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title-bar__user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 18px;
}

.page-title-bar__page-title {
  font-size: 20px;
  flex-grow: 1;
}

@media all and (min-width: 500px) {
  .page-title-bar {
    position: fixed;
    width: 87.5%;
    top: 0;
    right: 0;
  }
}