@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --heading-font-family: 'Source Sans Pro', sans-serif;
  --body-font-family: 'Lato', sans-serif;
  --red: #e60000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

body {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 16px;
}

@media (hover: hover) {
  a:hover, button:hover, svg:hover { color: inherit; }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout */
.app {
  display: grid;
  /*grid-gap: 20px;*/
  grid-template-areas: 
    "page-title-bar"
    "feed"
    "tab-bar";
}

@media (min-width: 500px) {
  .app {
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 
      "tab-bar page-title-bar"
      "tab-bar feed";
  }
}

@media (min-width: 650px) {
  .app {
    grid-template-columns: 3fr 5fr;
    grid-template-areas: 
      "tab-bar page-title-bar"
      "tab-bar feed";
  }
}

@media (min-width: 900px) {
  .app {
    grid-template-columns: 4fr 4fr;
    grid-template-areas: 
      "tab-bar page-title-bar"
      "tab-bar feed";
  }
}
