@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --heading-font-family: 'Source Sans Pro', sans-serif;
  --body-font-family: 'Lato', sans-serif;
  --red: #e60000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

body {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 16px;
}

@media (hover: hover) {
  a:hover, button:hover, svg:hover { color: inherit; }
}
