.squawk-button {
  position: fixed;
  bottom: 90px;
  right: 30px;
  
  z-index: 3;
  color: white;
  background-color: var(--red);
  padding: 20px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
}

.squawk-button__plus {
  position: absolute;
  top: 11px;
  left: 11px;
}