.feed {
  grid-area: feed;
  /*height: calc(100vh - 58.78px);*/
  /*border: 1px solid green;*/
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: absolute;
  top: 58.78px;
  z-index: 0;
}

@media all and (min-width: 500px) {

  .feed {
    position: absolute;
    width: 87.5%;
    right: 0;
    top: 58.78px;
  }

}


@media all and (min-width: 650px) {

  .feed {
    width: 62.5%;
  }

}

@media all and (min-width: 900px) {

  .feed {
    position: absolute;
    width: 45%;
    right: 10%;
  }

}

@media all and (min-width: 1050px) {

  .feed {
    width: 40%;
    right: 15%;
  }

}

@media all and (min-width: 1200px) {

  .feed {
    width: 35%;
    right: 20%;
  }

}

@media all and (min-width: 1500px) {

  .feed {
    width: 30%;
    right: 25%;
  }

}