.tab-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 18px 12%;
  border-top: 1px solid #ccc;
}

.tab-bar__icon {
  font-size: 24px;
  color: #888;
}


@media (hover: hover) {
  .tab-bar__icon:hover { color: var(--red); }
}

.tab-bar__icon:active,
.active .tab-bar__icon {
  color: var(--red);
}

@media all and (min-width: 500px) {
  .tab-bar {
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    padding: 24px 5%;
    width: inherit;
    border-right: solid 1px #ccc;
  }
}