.tab-bar {
  grid-area: tab-bar;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 18px 12%;
  border-top: 1px solid #ccc;
  z-index: 1;
  background-color: #fff;
}

.tab-bar__icon {
  font-size: 24px;
  color: #888;
}

.tab-bar__logo,
.tab-bar__logo-link {
  display: none;
}

.tab-bar__nav-link-text {
  margin: 0;
}

.hide-sm-screen {
  display: none;
}

.hide-m-screen {
  display: none;
}

.active .tab-bar__nav-link-text {
  color: var(--red);
}


@media (hover: hover) {
  .tab-bar__icon:hover { color: var(--red); }
}

.tab-bar__icon:active,
.active .tab-bar__icon {
  color: var(--red);
}

@media all and (min-width: 500px) {
  .tab-bar {
    position: fixed;
    top:0;
    left: 0;
    width: 12.5%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    padding: 0px 14px 18px 18px;
    /*border-right: solid 1px #ccc;*/
  }

  .tab-bar__logo-link {
    display: inline-block;
  }

  .hide-sm-screen {
    display: inline-block;
  }

  .tab-bar__logo {
    display: block;
    width: 30px;
  }

  .tab-bar__user-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

}


@media all and (min-width: 650px) {

  .tab-bar {
    align-items: flex-start;
    width: 30.5%;
    left: 7%;
  }

  .tab-bar__nav-link-text {
    text-decoration: none;
    color: #000;
    margin-left: 12px;
    flex-grow: 1;
  }



  .hide-m-screen {
    display: inline-block;
  }

  .tab-bar__nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }

  .tab-bar__icon__wrapper {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab-bar__logo-link {
    margin-bottom: 0px;
  }

}

@media all and (min-width: 900px) {

  .tab-bar {
    align-items: flex-start;
    width: 23.5%;
    left: 21.5%;
    z-index: 2;
  }

}

@media all and (min-width: 1050px) {

  .tab-bar {
    width: 21.5%;
    left: 23.5%;
  }

}

@media all and (min-width: 1200px) {

  .tab-bar {
    width: 19.5%;
    left: 25.5%;
  }

}

@media all and (min-width: 1500px) {

  .tab-bar {
    width: 15.5%;
    left: 29.5%;
  }

}